.push-right {
  text-align: right !important;
  float: right; }

.push-left {
  text-align: left !important;
  float: left; }

.permalink {
  font-size: 1rem;
  padding-top: 1rem; }

.entry-meta {
  margin: 50px 30px 30px;
  text-align: center; }

.social-share {
  font-size: 1.2rem; }

.socialcount li {
  padding-left: 10px;
  padding-right: 10px; }

.buttomline {
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem; }

.post-date {
  margin-bottom: 0; }

/*
	Submenu
*/
h1 .submenutext {
  display: none; }

.submenu {
  line-height: 20px;
  padding-top: 5px; }

h1 + .submenu {
  margin-top: -80px;
  margin-bottom: 80px; }

.submenu ul,
.submenu li {
  list-style: none;
  display: block;
  padding: 0; }

.submenu ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 5px;
  margin-left: -20px;
  margin-right: -20px; }

.submenu ul:after {
  content: '';
  display: block;
  clear: both; }

.submenu li {
  margin: 0;
  float: left; }

.submenu a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  position: relative; }

.submenu a:hover:after {
  content: '';
  background: #fff;
  display: block;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 15px;
  right: 15px; }

.submenu.fixed {
  background: #5BC5FF;
  opacity: 0.9;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }

.submenu.fixed div {
  width: 80%;
  max-width: 900px;
  margin: auto; }

.fixedsubmenu .submenu {
  visibility: hidden; }

.fixedsubmenu .submenu.fixed {
  visibility: visible;
  display: block; }

/* Neo-Sidebar CSS */
/* 	hamburger  */
#nav-toggle {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 20px;
  left: 1rem;
  z-index: 4; }

.layout-reverse #nav-toggle {
  /*	position: sticky; */
  left: auto;
  right: 1rem; }

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: #101010;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -8px; }

#nav-toggle span:after {
  bottom: -8px; }

/* Hamburger animation */
html.mm-opening #nav-toggle span:after {
  content: 'close'; }

/* **** MENU **** */
/* textpanel menu */
.mm-panel > p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-top: 20px; }

#menu:not(.mm-menu) {
  display: none; }

#menu .fa {
  width: 15px;
  color: #ccc; }

.mm-panel > p {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 15px; }

#nav-toggle:hover {
  background: white; }

.mm-listview li > a {
  color: #626262; }

.mm-listview li > span {
  color: #626262; }

.mm-listview > li > a:hover {
  background: rgba(245, 245, 245, 0.9);
  color: #000; }

.mm-listview > li > a.mm-fullsubopen:hover {
  background: none; }

.mm-listview > li > a.mm-fullsubopen:hover + span {
  background: rgba(245, 245, 245, 0.9); }

/* fontsize menuentries: */
.mm-listview > li {
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 0.8rem; }

#nav-toggle:-moz-focus-inner {
  border: 0; }

#nav-toggle:focus {
  outline: none !important; }

.mm-close:after {
  content: '\f00d'; }

/*\24b3'; } */
/* Categories and Tags */
.entry-meta {
  color: rgba(187, 187, 187, 0.8);
  font-size: 0.75rem;
  text-transform: uppercase; }

.entry-meta a {
  color: rgba(187, 187, 187, 0.8); }

.entry-meta .tag {
  background-color: rgba(162, 162, 162, 0.8);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 4px; }

.entry-meta .tag span {
  float: left;
  padding: 2px 6px; }

.entry-meta .tag .count {
  background-clip: padding-box;
  background-color: rgba(136, 136, 136, 0.8);
  border-radius: 0 3px 3px 0; }

.entry-meta .tag:hover {
  background-color: rgba(136, 136, 136, 0.8); }

.entry-meta .entry-reading-time {
  float: right; }

.inline-list {
  list-style: outside none none;
  margin-left: 0;
  padding-left: 0; }

.inline-list li {
  display: inline;
  list-style-type: none; }
