/* Neo-Sidebar CSS */


/* 	hamburger  */
#nav-toggle { 	
	box-sizing: border-box;
	display: block;
	position: fixed;
	top: 20px;
	left: 1rem;
	z-index: 4; 
}

.layout-reverse #nav-toggle {
/*	position: sticky; */
    left: auto;
    right: 1rem;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: #101010;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before { top: -8px; }
#nav-toggle span:after {  bottom: -8px; }


/* Hamburger animation */

html.mm-opening #nav-toggle span:after {
  content: 'close';
}

/* **** MENU **** */

/* textpanel menu */
.mm-panel > p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: 20px;
}


#menu:not(.mm-menu) { display: none; }

#menu .fa
{
	width: 15px;
	color: #ccc;
}
.mm-panel > p
{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
}
#nav-toggle:hover { background: white; }
.mm-listview li > a { color: #626262; }

.mm-listview li > span { color: #626262; }

.mm-listview > li > a:hover {
    background: rgba( 245, 245, 245, 0.9 );
    color: #000;
}
.mm-listview > li > a.mm-fullsubopen:hover { background: none; }
.mm-listview > li > a.mm-fullsubopen:hover + span { background: rgba( 245, 245, 245, 0.9 ); }

/* fontsize menuentries: */

.mm-listview > li {
	font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
}
#nav-toggle:-moz-focus-inner { border: 0; }
#nav-toggle:focus {outline:none !important;} 

.mm-close:after { content: '\f00d'; } /*\24b3'; } */
